.dropdown {
  width: 100% !important;
  height: 44px !important;
  border: 2px solid red;
}

@media (min-width: 770px) {
  .dropdown {
    max-width: 338px !important;
    /* width: calc(100vw - 7rem) !important; */
    height: 44px !important;
  }
}

@media (min-width: 100px) {
  .container {
    height: calc(100vh - 15rem) !important;
  }
}

@media (min-width: 400px) {
  .modalContainer {
    max-width: 384px !important;
  }
}

#container,
#buttonGroup {
  max-width: 1200px;
  min-width: 320px;
  margin: 1em auto;
}

.hidden {
  display: none;
}

.main-container button {
  font-size: 12px;
  border-radius: 2px;
  border: 0;
  background-color: #ddd;
  padding: 13px 18px;
}

.main-container button[disabled] {
  color: silver;
}

.button-row button {
  display: inline-block;
  margin: 0;
}

